.travis.yml
*.o
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
config.log
INSTALL
Makefile
README
config.h
config.status
doc/Makefile
doc/freeture.1
src/.deps/
src/Makefile
stamp-h1
src/freeture


